body {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------------Headings------------------------*/

.h2-heading {
    display: inline-block;
    font-family: "raleway", sans-serif;
    color: #fff;
    margin: 70px 0 70px 0;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}

.sub-heading-center {
    text-align: center;
}

.h3-heading {
    display: inline-block;
    font-family: "raleway", sans-serif;
    margin: 0px 0 40px 0;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    color: #000;
}

.h3-box {
    height: 60px;
}

/*----------------------Headings------------------------*/

/*----------------------reset values------------------------*/
.no-margin {
    margin: 0;
}

/*----------------------reset values------------------------*/

/*----------------------Home section------------------------*/

.heading-section {
    height: 98vh;
    background-image: url(../images/belt-mats-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 60%;
    padding: 0px;
}

.homepage-opacity {
    height: 98vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px 0 70px;
}

/*----------------------------Nav bar---------------*/

.logo-box {
    position: absolute;
    left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    transition: all .5s ease-in-out;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    height: 50px;
    opacity: .7;
    z-index: 6;
}

.nav-dropdown-1 {
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0 100px;
}

nav ul li {
    display: inline-block;
    width: 13.7%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    transition: all .5s ease-in-out;
}

nav .nav-dropdown-1 ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: all .5s ease-in-out;
    display: block;
}

/*----------------------------Nav bar---------------*/

/*----------------------------Navbar mediaquery---------------*/

@media (max-width: 767px) {
    .logo {
        opacity: .8;
    }
    .logo:hover {
        width: 53px;
        height: 53px;
        opacity: 1;
        transition: all .5s ease-in-out;
    }

    nav {
        background-color: transparent;
        opacity: .9;
    }

    .nav-dropdown-1 {
        position: absolute;
        right: 0;
        height: 50px;
        cursor: pointer;
    }

    nav ul {
        position: relative;
        padding: 0;
        top: 55px;
        transition: transform .5s ease-in-out;
        background-color: #000;
        display: none;
    }
    
    nav ul li {
        display: block;
        width: 100px;
        padding: 0;
    }
    
    .menu-bars {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 50px;
        height: 50px;
    }

    .bar {
        display: block;
        width: 40px;
        height: 4px;
        background-color: #000;
        margin: 7px 0;
        transition: all .5s ease-in-out;
    }

    nav .nav-dropdown-1 ul li a {
        display: block;
        line-height: 50px;
    }

    nav .nav-dropdown-1 ul li:hover a {
        color: #000;
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    nav .nav-dropdown-1 ul li:hover a {
        color: #000;
        background-color: #fff;
        display: block;
    }
}

/*----------------------------Navbar mediaquery---------------*/

/*----------------------------Home section---------------*/

.heading-position {
    position: absolute;
    top: 20%;
}

.main-heading {
    font-family: "raleway", sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    z-index: 3;
    color: #000;
    margin-bottom: 20px;
    text-shadow: 2px 2px #fff;
    animation-name: invert;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes invert {
    from {
        color: #000;
        text-shadow: 2px 2px #fff;
    }
    to {
        color: #fff;
        text-shadow: 2px 2px #000;
    }
}

.main-heading-inverted {
    font-family: "raleway", sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    z-index: 3;
    color: #fff;
    text-shadow: 2px 2px #000;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    animation-name: invert1;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes invert1 {
    from {
        color: #fff;
        text-shadow: 2px 2px #000;
    }
    to {
        color: #000;
        text-shadow: 2px 2px #fff;
    }
}

.main-heading-border-black {
    border-bottom: 4px solid #000;
    width: 30%;
    margin: 10px auto 0px auto;
    animation-name: border-color-top;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes border-color-top {
    from {
        border-bottom: 4px solid #000;
    }
    to {
        border-bottom: 4px solid #fff;
    }
}

.main-heading-border-white {
    border-bottom: 4px solid #fff;
    width: 30%;
    margin: 0px auto;
    animation-name: border-color-bottom;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes border-color-bottom {
    from {
        border-bottom: 4px solid #fff;
    }
    to {
        border-bottom: 4px solid #000;
    }
}

.main-page-sub-heading {
    position: absolute;
    top: 60%;
    font-family: "raleway", sans-serif;
}

.main-page-sub-heading h2 {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-shadow: 7px 7px #000;
}

.main-page-sub-heading i {
    margin: 0 20px
}

.bottom-pointed-border {
    border-top: 5px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 4px solid transparent;
    width: 30%;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.medal-center {
    text-align: center;
    margin: 30px auto 0 auto;
    display: inline-block;
}

.fa-medal {
    font-size: 40px;
    text-shadow: 5px 5px #000;
}

.bronze {
    color: #cd7f32;
}

.silver {
    color: rgb(192, 192, 192);
}

.gold {
    color: #ffd700;
}

.home-button-column {
    position: absolute;
    top: 85%;
    text-align: center;
}

.home-button {
    margin: 0;
    display: inline-block;
    background-color: rgb(255, 252, 203);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.home-button p {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    font-family: "raleway", sans-serif;
}

.home-button:active {
    background-color: #bfbf96;
}

.home-button:active p {
    color: #fff;
}

@media (max-width:767px) {
    .main-heading {
        font-size: 40px;
    }
    .fa-medal {
        font-size: 25px
    }

    .main-page-sub-heading h2 {
        font-size: 22px;
    }

    .home-button p {
        font-size: 16px
    }
}

/*----------------------Home section------------------------*/

/*----------------------About Us------------------------*/

.about-us-container-fluid {
    background-image: url(../images/mat.jpg);
    background-position: bottom;
    background-attachment: fixed;
    padding: 0;
}

.about-us-background-opacity {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 70px 0 70px 0;
}

.about-us-section {
    background-color: rgba(0, 0, 0, .5);
    padding: 0 50px 50px 50px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.about-us-row {
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    padding: 30px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.about-column {
    padding: 0px 15px 0px 15px;
}

.image-outer-container {
    padding: 15px;
}

.academy-image {
    background-image: url(../images/academy.jpg);
    background-repeat: no-repeat;
    margin-left: 0px;
    height: 300px;
    background-size: cover;
    background-position: top center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.about-instructor-column {
    padding-left: 30px;
}

.instructor-achievements {
    padding: 0 0 0 15px;
}

.outer-image-container {
    width: 70%;
    text-align: center;
    display: inline-block;
}

.instructor-image {

    width: 100%;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
    .instructor-image {
        margin-bottom: 20px;
    }
   .about-us-row {
       margin-left: -50px;
       margin-right: -50px;
       background-color: rgba(255, 255, 255, 0.6);
   }
}

@media (min-width: 768px) {
    .instructor-image {
        margin-bottom: 20px;
    }
    .outer-image-container {
        width: 70%;
    }
    .academy-image {
        height: 350px;
    }
}

@media (min-width: 992px) {
    .outer-image-container {
        width: 100%;
    }
}

/*----------------------About Us------------------------*/

/*----------------------Schedule------------------------*/

.schedule-section {
    background-image: url(../images/b-l-standing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    height: 100%;
    padding: 70px 0 70px 0;
}

.schedule-inner-container {
    background-color: rgba(0, 0, 0, 0.4);
}

.schedule-fa {
    font-size: 40px;
    padding: 0 20px;
    margin-top: 5px;
    color: #000;
}

.class-info-row {
    margin: 0 20px 70px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.text-center {
    text-align: center;
}

.color-legend-container {
    position: absolute;
    bottom: -10px;
    left: 0;
}

.color-legend {
    height: 20px;
    width: 100px;
    display: inline-block;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.belt {
    width: 100%;

}

.blue-legend {
    background-color: blue;
}

.purple-legend {
    background-color: purple;
}

.yellow-legend {
    background-color: yellow;
}

.brown-legend {
    background-color: #421F00;
}

@media (max-width:767px) {
    section .class-info-row {
       margin: 0 -15px 70px -15px;
       padding-top: 10px;
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 70px;
       background-color: rgba(255, 255, 255, 0.6);
    }
    .schedule-section {
        background-size: cover;
        background-position: top;
    }

    .lesson-heading {
        margin-top: 40px;
        margin-bottom: 15px
    }

    .class-text {
        position: relative;
        min-height: 110px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .lesson-heading {
        margin-top: 25px
    }
    .class-text {
        height: 215px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .class-text {
        height: 350px;
    }
}

@media (min-width:1200px) {
    .class-text {
        height: 290px;
    }
}

.table-center {
    text-align: center;
}

.schedule-table-row {
    margin-bottom: 110px;
}

.schedule-border {
    border: 15px solid #000;
    border-radius: 15px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    /*https://www.cssmatic.com/box-shadow*/
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.schedule {
    border: 5px solid #000;
}

.time-block {
    background-color: darkgray;
    border: 2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.day-block {
    background-color: darkgray;
    border: 2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
}

.empty-block {
    background-color: gray;
    border: 2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
}

.schedule-block {
    border: 1px solid #000;
    height: 50px;
    text-align: center;
}

/*https://css-tricks.com/almanac/properties/s/scrollbar/*/

.overflow-schedule::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#000, gray);
    border-radius: 10px;
}

/*--------------------------schedule block colours*********************************/

.kids-yellow-class {
    background: yellow;
    border-right: 1px solid yellow;
}

.kids-class-exit {
    background: linear-gradient(to right, yellow, transparent, transparent, transparent, transparent, transparent);
    border-left: 1px solid yellow;
}

.fundamental-blue-class {
    background: blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}

.fundamental-blue-class-half {
    background: linear-gradient(to right, blue, blue, transparent, transparent);
}

.advanced-purple-class {
    background: purple;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
}

.advanced-purple-class-half {
    background: linear-gradient(to right, purple, purple, transparent, transparent);
}

.open-mat-class {
    background: #421F00;
    border-left: 1px solid #421F00;
    border-right: 1px solid #421F00;
}

.open-mat-class-half {
    background: linear-gradient(to right, #421F00, #421F00, transparent, transparent);
    border-left: 1px solid #421F00;
}

.open-mat-class-exit {
    background: linear-gradient(to right, #421F00, transparent, transparent, transparent, transparent, transparent);
}

.blue-purple-class-half {
    background: linear-gradient(to right, blue, blue, purple, purple);
    border-right: none;
    border-left: 1px solid blue;
    border-right: 1px solid purple;
}

/*--------------------------schedule block colours*********************************/

/*----------------------Schedule media query------------------------*/

@media (max-width:564px) {
    .schedule-block:hover {
        position: absolute;
        width: 39px;
        height: 52px;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: .5s;
    }
    .overflow-schedule {
        overflow: hidden;
        overflow-x: scroll;
        background-color: rgba(255, 255, 255, .1);
        padding-bottom: 20px;
    }
}

@media (min-width: 565px) and (max-width:767px) {
    .overflow-schedule {
        overflow: hidden;
        overflow-x: scroll;
        background-color: rgba(255, 255, 255, .1);
        padding-bottom: 20px;
    }

    .schedule-block:hover {
        position: absolute;
        width: 8%;
        height: 52px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .schedule-block:hover {
        position: absolute;
        width: 57px;
        height: 52px;
        background-color: #fff;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .schedule-block:hover {
        position: absolute;
        width: 77px;
        height: 52px;
        background-color: #fff;
    }
}

@media (min-width:1200px) {
    .schedule-block:hover {
        position: absolute;
        width: 92px;
        height: 52px;
        border: none;
    }
}

/*----------------------Schedule------------------------*/

/*----------------------gallery-pricing-faq-section------------------------*/

.gallery-pricing-faq-section {
    background-image: url(../images/mat.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
}

@media (max-width: 767px) {
    .gallery-pricing-faq-section {
    background-image: url(../images/mat.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    padding: 0;
}
}

.gallery-pricing-faq-opacity{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 70px 0 70px 0;
}
.gallery-pricing-faq-inner-container {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 0px 0 70px 0;
}

/*----------------------gallery-pricing-faq-section------------------------*/

/*----------------------Gallery------------------------*/

.gallery-row {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 25px 25px 25px;
    padding: 70px 0 70px 0px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
   section .gallery-row {
       margin: -15px;
   }
}
/*slideshow is from the below reference and in between comments*/

/*https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp*/

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.gallery-container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image-row {
    padding-left: 15px;
    padding-right: 15px;
}

.next {
    right: 15px;
    border-radius: 3px 0 0 3px;
}

/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

@media (min-width: 1200px) {
    .gallery-container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .gallery-container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .gallery-container {
        width: 650px;
    }
}


/*https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp*/

/*----------------------Gallery------------------------*/

/*----------------------FAQ------------------------*/

.accordion-row {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 20px 0 20px;
    padding: 40px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
   section .accordion-row {
       margin: -15px;
       padding-left: 20px;
       padding-right: 20px;
   }
}

.faq-column {
    padding: 2px;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion*/

.accordion {
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
    display: inline-block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    display: inline-block;
    font-family: sans-serif;
    width: 95%;
    display: none;
    background-color: white;
    overflow: hidden;
    margin: 0 0 5px 10px;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: left;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion*/

/*----------------------FAQ------------------------*/

/*----------------------Pricing------------------------*/

.pricing-row {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 20px 0 20px;
    padding: 50px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pricing-box {
    font-family: sans-serif;
    width: 260px;
    height: 450px;
    border: 1px solid #000;
    display: inline-block;
    background-color: #7F7C6F;
    text-align: center;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.special-color {
    background-color: #404040;
}

.pricing-content {
    border: 1px solid #000;
    margin-top: 15px;
    display: inline-block;
    width: 80%;
    font-size: 30px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.pricing-bottom {
    font-size: 25px;
    height: 280px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.strong-box {
    font-weight: 900;
}

.pricing-line-height {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
}

.onceaweek-font {
    font-size: 26px
}

@media (max-width:767px) {

    .pricing-row {
        padding: 60px 0px 30px 0px;
        margin: -15px;
    }

    .pricing-column {
        padding: 0;
    }
    .pricing-box {
        width: 230px;
        height: 350px;
    }

    .pricing-content {
        font-size: 16px;
    }
    .pricing-bottom {
        height: 215px;
    }
    .onceaweek-font {
        font-size: 16px
    }
}

@media (min-width:768px) and (max-width:991px) {

    .pricing-row {
        padding: 60px 0px 30px 0px;
    }

    .pricing-box {
        width: 260px;
        height: 360px;
    }
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }

    .pricing-content {
        font-size: 20px;
    }
    .pricing-bottom {
        height: 215px;
    }
    .onceaweek-font {
        font-size: 20px
    }
}

@media (min-width:992px) {
    .pricing-box {
        width: 185px;
        height: 325px;
        margin: 0;
    }

    .pricing-content {
        font-size: 16px;
    }

    .pricing-bottom {
        height: 195px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .onceaweek-font {
        font-size: 16px
    }

    .pricing-column {
        padding: 0;
    }

    .pricing-row {
        padding: 30px;
    }
}

@media (min-width: 1200px) {

    .pricing-box {
        width: 200px;
        height: 305px;
    }

    .pricing-bottom {
        height: 175px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*----------------------Pricing------------------------*/

/*----------------------contact------------------------*/

.contact-h3 {
    color: #000;
    padding: 0 0 15px 0;
}

.contact-heading {
    margin: 20px 0 5% 0;
}

.contact-section {
    height: 100%;
    padding: 100px 0;
    background-image: url(../images/m-t-blur.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

.contact-opacity {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 25px 50px 50px 50px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.opacity-white {
    background-color: rgba(255, 255, 255, .5);
    padding: 30px;
    margin: 0 0;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-detail-table {
    width: 85%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-cell {
    padding-top: 0;
    text-align: center;
}

.padding-5 {
    padding-left: 5px;
}

.block {
    width: 100%;
}

input {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

input[type="text"] {
    width: 49.5%;


}

input[type="email"] {
    width: 49.5%;
    float: right;

}

textarea {
    margin-top: 5px;
    width: 100%;

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.map {
    width: 60%;
    height: 300px;
}


.map-outer-container {
    position: absolute;
    bottom: 70px;
    width: 500px;
    right: 0;
    margin: 0 auto;
}



@media (max-width:767px) {
    .contact-opacity {
        padding: 0;
    }

    .opacity-white {
        padding: 50px 0px
    }

    .contact-section .no-padding {
        padding: 0;
    }

    .contact-detail-table {
        padding: 0
    }

    .contact-section {
        height: 100%;
    }

    .contact-cell {
        padding-right: 10px;
        font-size: 16px;
    }
    
    .map-outer-container {
        position: relative;
        bottom: 0px;
        width: 100%;
        margin: 50px 0 0 0px;
    }
    
    .map {
        width: 90%;
        height: 250px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .map-outer-container {
        position: relative;
        bottom: 0px;
        width: 100%;
        margin: 50px 0 0 0px;
    }
    
    .map {
        width: 50%;
        height: 250px;
    }
}

@media (min-width:992px) and (max-width: 1200px) {

    .map-outer-container {
        position: absolute;
        bottom: 70px;
        width: 500px;
        right: -70px;
        margin: 0 auto;
    }
}


/*----------------------Contact------------------------*/

/*----------------------Footer------------------------*/

footer {
    background-color: #000;
    height: 10%;

}

.footer-row {
    padding-top: 15px;
    text-align: center;
}

.socialmedia-ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.socialmedia-li {
    display: inline-block;
}

.socialmedia-link {
    margin: 0 15px 0 15px;
    float: left;
    padding: 15px;
    background-color: #fff;
    border-radius: 50px;
    width: 55px;
    height: 55px;
}

.socialmedia-ul li a i {
    font-size: 25px;
}

.fab {
    color: #1069FF;
}

.socialmedia-link:hover .fab {
    color: #fff;
}

.socialmedia-link:hover {
    background-color: #1069FF;
}

@media (max-width: 767px) {

    .socialmedia-ul {
        padding: 0;
    }

    .socialmedia-link {
        margin: 0 10px 0 0px;
        padding: 5px 0;
        width: 30px;
        height: 30px;

    }
    .socialmedia-ul li a i {
        font-size: 20px;
    }

}



/*----------------------Footer------------------------*/
