/*----------------------Headings------------------------*/
.h2-heading{
    font-family: "permanent marker", sans-serif;
    color: #000;
    margin:40px 0 70px 0;
}

.sub-heading-center{
    text-align: center;
}
.h3-heading {
        font-family: "boogaloo", sans-serif;
    }
.h3-box{
 height: 50px;   
}
/*----------------------Headings------------------------*/

/*----------------------Home section------------------------*/
.heading-section{
    height: 95vh;
}

.logo{
    position: fixed;
    height: 50px;
    width: 50px;
}

.menu-bars{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 20px;
}
.bar{
    display: block;
    border:1.5px solid black;
    width: 40px;
    margin-top: 5px;
}
.heading-position{
    margin-top: 200px;
}
.main-heading{

    font-family: "permanent marker", sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
}
.navigation-bar{
    
    position: fixed;   
    z-index: 2;
    
}
.navigation-row {
    text-align: center;
    padding: 0;
    
}

.navigation-menu{
    
    list-style: none;
    padding: 0;
    text-align: center;
     
}


.link-inlineblock{
    display: inline-block;
}

.col-link-custom{
    width: 13%;
}
.navigation-link{
    font-family: "boogaloo", sans-serif;
    font-size: 1.5em;
    color: #000;
    letter-spacing: 1px;
   
}
.btn-home-row{
    position: absolute;
    top: 90%;
    left: 50%
;
    
}
.btn-home-col {
    
    transform: translateX(-50%);
}



/*----------------------Home section------------------------*/

/*----------------------About Us------------------------*/
.about-us-section {
    background-color: #ffffcc;
}
.instructor{
    height: 180px;
}

/*----------------------About Us------------------------*/
/*----------------------Schedule------------------------*/
.schedule-fa{
    font-size: 40px;
    padding: 0 20px;
    margin-bottom: 15px;
}
.class-info-row{
    margin-bottom: 70px;
    background-color: #000;
    color: #fff
}

.text-center {
    text-align: center;
}

.color-legend {
    height: 20px;
    width: 100px;
    display: inline-block;
}
.blue-legend{
    background-color: blue;
}
.purple-legend{
    background-color:purple;
}
.yellow-legend{
    background-color:yellow;
}
.brown-legend{
    background-color:brown;
}
.table-center {
    text-align: center;
    
}

.schedule-table-row{
    margin-bottom: 110px;
}
.schedule-border {
    border:15px solid #000;
    border-radius: 15px;
    display: inline-block;
    /*https://www.cssmatic.com/box-shadow*/
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.schedule{
   border:5px solid #000;
}

.time-block{
    background-color: darkgray;
    border:2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
     /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  
}
.day-block{
    background-color: darkgray;
    border:2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
     /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  
}
.empty-block{
    background-color: gray;
    border:2px solid #000;
    height: 50px;
    width: 90px;
    text-align: center;
     /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  
}
.schedule-block{
    border:2px solid #000;
    height: 50px;
    
    text-align: center;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    
    /*----------------------Schedule media query------------------------*/
}
@media (max-width:767px){
    .overflow-schedule{
        overflow: hidden;
        overflow-x: scroll;
    
    }
.schedule-block:hover {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    position: absolute;
    width: 50px;
    height: 12%;
    background-color:#fff ;
    border: 1px solid #000;
    color: #000;
    
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);    
}
}
@media (min-width:768px) and (max-width:991px){
.schedule-block:hover {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    position: absolute;
    width: 75px;
    height: 12%;
    background-color:#fff ;
    border: 1px solid #000;
    color: #000;
    
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);    
}
}

@media (min-width:992px){
.schedule-block:hover {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    position: absolute;
    width: 105px;
    height: 12%;
    background-color:#fff ;
    border: 1px solid #000;
    color: #000;
    
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);    
}
}
/*----------------------Schedule------------------------*/
/*----------------------Gallery------------------------*/
.gallery-section{
    margin-bottom: 140px;
}


/*slideshow is from the below reference and in between comments*/
/*https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp*/

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}


.gallery-container {
  position: relative;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.image-row{
    padding-left: 15px;
}
.next {
    right: 15px;
    border-radius: 3px 0 0 3px;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.30%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
@media (min-width: 1200px){
.gallery-container {
    width: 1170px;
}}
@media (min-width: 992px){
.gallery-container {
    width: 970px;
}}
@media (min-width: 768px){
.gallery-container {
    width: 750px;
}}
/*https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp*/

/*----------------------Gallery------------------------*/
/*----------------------FAQ------------------------*/
.faq-section{
    
    background-color: #ffffcc;
    
}
.accordion-row{
    margin-bottom: 50px;
    
    padding: 20px;
    
}
.faq-column{
    
    padding: 2px; 
    
}



/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion*/
.accordion {
    
    margin-bottom: 5px;
    display: inline-block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    width: 100%;
    display: none;
    background-color: white;
    overflow: hidden;
    margin: 0 0 5px 0;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion*/

/*----------------------FAQ------------------------*/
/*----------------------Pricing------------------------*/
.pricing-section{
    margin-top: 70px;
}

.pricing-box{
    
    height: 380px;
    border:1px solid #000;
    background-color: white;
    margin-bottom: 8.3%;
    border-radius: 15px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.pricing-box {
    background-color: orange;
    text-align: center;
}
.pricing-box-content{
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    background-color: #fff;
    display: block;
    font-family: "boogaloo", sans-serif;
    font-size: 1.5em;
    border-radius: 15px;
}

.pricing-box-head {
    font-size: 2em;
    margin:15px 0;
    
}
.pricing-box-mid {
    margin-bottom: 20px;
    
}
.pricing-box-bot {
    height: 240px
}

.pricing-gray{
    background-color: silver;
}
.pricing-gold{
    background-color: gold;
}


@media (max-width:500px){
    .pricing-box{
        height: 300px
    }
    .pricing-box-bot{
        height: 160px;
}











/*----------------------Pricing------------------------*/